.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5%;
    &__pic{
        max-width: 35%;
    }
    &__titles_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        gap: 5%;
    }
    &__title{
        font-size: 60px;
    }
    &__subtitle{
        font-size: 45px;
        align-self: center;
        color: #31B9AB;
    }
    &__description_box{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    &__description_icons_box{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    &__description{
        font-size: 25px;
    }
}
  
.logos{
    max-width: 150px;
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
        &__pic{
            max-width: 55%;
        }
        &__subtitle{
            font-size: 40px;
            align-self: unset;
        }
        &__description_icons_box{
            flex-wrap: wrap;
    
        }
        &__description{
            font-size: 20px;
        }
    }
}
@media (max-width: 667px) {
    .home {
        &__pic{
            max-width: 65%;
        }
        &__title{
            font-size: 50px;
        }
        &__subtitle{
            font-size: 30px;
            align-self: unset;
        }
        &__description{
            font-size: 16px;
        }
    }
}