.nav{
    z-index: 50;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fafafa;
        &__logo{
            color: #fafafa;
            font-size: 30px;
        }
        &__list{
            z-index: 50;
            display: flex;
            width: 30%;
            justify-content: space-between;
            align-items: center;
        }

            

}

@media (max-width: 768px) {
    .nav{
        flex-direction: column;
        &__logo{
            font-size: 25px;
        }
        &__list{
            width: 80%;
            padding-left: 5%;
            padding-right: 5%;
        }
    }
}
@media (max-width: 667px) {
    .nav{
        &__list{
            width: 90%;
        }
    }
}